.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

#search-btn {
	box-shadow: 0px 10px 14px -7px #fafafa;
	background:linear-gradient(to bottom, #27b3d6 5%, #27b3d6 100%);
	background-color:#27b3d6;
	border-radius:4px;
	border:1px solid #52a0b3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:12px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1f3312;
}
#search-btn:hover {
	background:linear-gradient(to bottom, #27b3d6 5%, #27b3d6 100%);
	background-color:#27b3d6;
}
#search-btn:active {
	position:relative;
	top:1px;
}

/* .myButton {
    box-shadow: 0px 10px 14px -7px #3e7327;
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    background-color:#77b55a;
    border-radius:4px;
    border:1px solid #4b8f29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    background-color:#72b352;
}
.myButton:active {
    position:relative;
    top:1px;
} */
.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

text {
    font-family: sans-serif;
    font-size: 10px;

}

#header {
    padding-top: 20px;
}

#div-logo {
    float: left; 
    width: 10%; 
    /* padding-left: 1%; */
    text-align: center;
}

#div-search {
    width : 30%;
    float: left;
}

#search-bar {
    width: 85%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-size: 25px auto;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

#left_col {
    width: 50%;
    float: left;
    padding-left: 10%;
    padding-right: 5%;

}

#right_col {
    width: 50%;
    float: right;
}

#concept-table {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
}

.query {
    background-color: #ff9999;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

.pattern {
    font-size: 18px;
}

.score {
    font-size: 12px;
    color: #808080;
}

.label_cell {
    background-color:#f2f2f2;
}

.label {
    font-size: 20px;
}

td::after {     
    display: block;
    content:attr(title);
    font-weight: bold;
    color: transparent;
    height: 1px;
    margin-bottom: -1px;
    visibility: hidden;
    overflow: hidden;
}

.search-concept {
    background-color: #ff9999;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}